@using Coffee_store.Models;
@model Cart
<div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
    <div class="modal-content">
        <div class="modal-header  text-white" style=" background-color: #1d1d29;">
            <h5 class="modal-title" id="exampleModalLabel">Коризина</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form id="create-order-form" asp-controller="Orders" asp-action="Validate" method="get">
            <div class="modal-body">
                @if (@Model is null || @Model?.CartItems is null)
                {
                    <p>Ouups... Something is wrong</p>
                }
                else
                {
                    foreach (var item in @Model.CartItems)
                    {
                        <div class="row cart-item">
                            <div class="col cart-item-icon">
                                <img src="@item.Product?.IconPath" style="height:100px;width:100px;" alt="" />
                            </div>
                            <div class="col cart-item-text">
                                <h5>@item.Product?.Name</h5>
                                <p>Объём: @item.Volume </p>
                                <p>Добавки: @item.AdditionsString</p>
                            </div>
                            <div class="col d-flex">
                                <div class="product_count">
                                    <button class="decrease items-count" type="button" name="items-count"
                                    style="font-family:Arial" data-id="@item.Id" data-operation="minus">
                                        <i class="fa-solid fa-minus"></i>
                                    </button>
                                    <span class="" style="font-size:20px;">@item.Count</span>
                                    <button class="increase items-count" name="items-count" type="button"
                                    style="font-family:Arial" data-id="@item.Id" data-operation="plus">
                                        <i class="fa-solid fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <br />
                            <p>@item.TotalCost руб</p>
                        </div>
                    }
                }
            </div>
            <div class="modal-footer">
                <div><span id="errors"></span></div>
                <div class="modal-footer-buttons">
                    <h5>Сумма заказа: @Model?.TotalCost</h5>
                    <button class="btn book-a-table-btn" id="createOrderBtn" type="button">Сделать заказ</button>

                </div>
            </div>
        </form>
    </div>
</div>