@model Coffee_store.Models.ProductCard
<div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
    <div class="modal-content">
        <form id="product-form" asp-controller="Cart" asp-action="Index">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Карточка продукта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <img src="@Model?.Product.IconPath" class="col-12" style="height:400px;" alt="..." />
                            <input type="hidden" name="productId" value="@Model.Product.Id" />
                            <h4>@Model?.Product.Name</h4>
                            <p>@Model?.Product.Description</p>
                        </div>
                        <div class="col-6">
                            @if (@Model?.Product.PricesAndVolumes is not null)
                            {
                                <h5>Volume</h5>
                                <div class=" form-group row">
                                    <div class="form-check form-check-inline d-flex justify-content-center">
                                        @foreach (var volume in @Model?.Product.PricesAndVolumes)
                                        {

                                            <input type="radio" class="btn-check price" id="@volume.Id" name="volume"
                                            data-price="@volume.Price" value="@volume.Id" autocomplete="off" checked>
                                            <label for="@volume.Id" class="btn btn-secondary">@volume.Volume мл.</label>

                                        }
                                    </div>
                                </div>
                            }

                            @if (@Model.Product.Category.HasAdditions && @Model?.Additions is not null)
                            {
                                <h5>Additions</h5>
                                <div class="form-group row additions-group">
                                    @foreach (var addition in @Model?.Additions)
                                    {
                                        <div class=" col-12 col-lg-6">
                                            <label class="checkbox-btn">
                                                <input type="checkbox" value="@addition.Id" 
                                                data-price="@addition.Price" name="additions" class="price">
                                                <span>
                                                    <div class="row">
                                                        <img class="col-6" src="/images/products/combo-1.jpg" style="height:auto;" alt="" />
                                                        <div class="col-6">
                                                            <h5>@addition.Name</h5>
                                                            <div class="d-flex justify-content-between">
                                                                <p>@addition.Volume гр.</p>
                                                                <p>@addition.Price руб.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </span>
                                            </label>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="modal-footer-buttons col-4 d-flex justify-content-between">                            
                            <p id="price">Всего: <span id="cart-total-cost"></span> руб.</p>
                            <button type="button" name="add-to-cart" class="btn book-a-table-btn">Добавить в корзину</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>