@using Coffee_store.Data.Entity
@{
    ViewData["Title"] = "Catalog Page";
}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-12 px-sm-2 px-0 bg-dark  align-items-center">
            <div class="d-flex justify-content-center align-items-center align-items-sm-start px-3 pt-2 text-white">
                <h2>Menu</h2>
                <div class="row h-100  align-items-center">
                    @foreach (Category category in ViewBag.catalog.Categories)
                    {

                        <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                            <a class="nav-link" asp-controller="Catalog" asp-action="Catalog" asp-route-categoryId="@category.Id">
                                <div class="card card-span h-100 rounded-circle">
                                    <img class="img-fluid rounded-circle h-100 mh-50px" src="@category.IconPath" alt="...">
                                    <div class="card-body ps-0">
                                        <h5 class="text-center fw-bold text-1000 text-truncate mb-2">@category.Name</h5>
                                    </div>
                                </div>
                            </a>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 side-menu-container">
            <div style="display: flex;padding: 20px;background: #00000099">
                <form method="get" asp-controller="Catalog" asp-action="Catalog">
                    <input name="categoryId" type="hidden" value="@ViewBag.CategoryId" />
                    <select name="sortState" asp-items="@ViewBag.catalog.SortStates" onchange="this.form.submit()" class="form-select"></select>
                </form>
            </div>
            <div style=" background-color: #3b3b52;">
                <div class="row">
                    @foreach (var product in ViewBag.catalog.Products)
                    {
                        <div class="col-12 col-sm-6 col-md-4 mb-3   cat-product-card">
                            <div class="card">
                                <div class="card-img-top">
                                    <a><img class="card-img-top" src="@product.IconPath" alt=""></a>
                                </div>
                                <div class="cat-product-details">
                                    <h4 class="card-title">@product.Name</h4>
                                    <p class="card-text">@product.Description</p>
                                    <h4>@product.Price р.</h4>
                                    <div class="btn btn-primary">
                                        <a class="nav-link text-dark open-card" asp-controller="Catalog"
                                       asp-action="ProductCard" asp-route-productId="@product.Id">
                                            Добавить
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal  fade" id="productCard" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="productCardLabel" aria-hidden="true">
</div>
<div class="modal fade" id="UserLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" />
</div>
<div class="modal fade" id="UserRegistrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" />
</div>


