@using Coffee_store.Data.Entity
@{
    ViewData["Title"] = "Catalog Page";
}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
        <span class="navbar-brand">Категории</span>
        <button class="navbar-toggler"
                type="button" data-toggle="collapse" data-target="#nextNav"
                aria-controls="nextNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nextNav">
            <ul class="navbar-nav mr-auto">
                @foreach (Category category in ViewBag.catalog.Categories)
                {
                    <li class="nav-item">
                        <a asp-controller="Catalog" asp-action="Catalog" asp-route-categoryId="@category.Id" class="nav-link">
                            <h5 class="text-center fw-bold text-1000 text-truncate mb-2">@category.Name</h5>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </nav>
    <section class="text-cent mb-4">
        <div style="display: flex;padding: 20px;background: #00000099">
            <form method="get" asp-controller="Catalog" asp-action="Catalog">
                <input name="categoryId" type="hidden" value="@ViewBag.CategoryId" />
                <select name="sortState" asp-items="@Html.GetEnumSelectList<SortState>()" onchange="this.form.submit()" class="form-select"></select>
            </form>
        </div>
        <div class="row wow fadeIn">
            @foreach (var product in ViewBag.catalog.Products)
            {
                <div class="col-lg-3 col-md-6 mb-4">
                    <div class="card h-100">
                        <div class="view overlay">
                            <img src="@product.IconPath" alt="" class="card-img-top">
                            <a href="">
                                <div class="mask rgba-white slight"></div>
                            </a>
                        </div>
                        <div class="card-body text-center">

                            <h5>@product.Name</h5>

                            <h5>
                                <strong>
                                    @product.Description
                                </strong>
                            </h5>

                        </div>
                        <div class="card-footer">
                            <h4 class="font-weight-bold blue-text">
                                <strong>@product.Price руб.</strong>
                            </h4>
                            <div class="btn book-a-table-btn w-100" style="margin:0px;">
                                <a class="nav-link dark-grey-text  open-card" style="color:black" asp-controller="Catalog"
                               asp-action="ProductCard" asp-route-productId="@product.Id">
                                    Добавить
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
<div class="modal  fade" id="productCard" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="productCardLabel" aria-hidden="true">
</div>
<div class="modal fade" id="UserLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserLoginPartial" />
</div>
<div class="modal fade" id="UserRegistrationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <partial name="_UserRegistrationPartial" />
</div>


