@model IEnumerable<Coffee_store.Data.Entity.PriceVolume>

@{
    ViewData["Title"] = "Index";
}

<h1>Объёмы и цены</h1>

<p>
    <a asp-action="Create" asp-route-productId="@ViewBag.ProductId">Создать</a>
    <a asp-controller="Product" asp-action="Index" asp-route-categoryId="@ViewBag.CategoryId">Вернуться к продуктам</a>
</p>
<table class="table admin-panel">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
